[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
[submodule "local-share-nvim/plugged/NeoSolarized.nvim"]
	path = local-share-nvim/plugged/NeoSolarized.nvim
	url = https://github.com/Tsuzat/NeoSolarized.nvim.git
[submodule "local-share-nvim/plugged/solarized.nvim"]
	path = local-share-nvim/plugged/solarized.nvim
	url = https://github.com/shaunsingh/solarized.nvim.git
[submodule "local-share-nvim/site/plugin/tpope/start/sensible"]
	path = local-share-nvim/site/plugin/tpope/start/sensible
	url = https://tpope.io/vim/sensible.git
[submodule "local-share-nvim/site/plugin/plugins/start/vim-tmux-navigator"]
	path = local-share-nvim/site/plugin/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
